main {
  text-align: center;
  h1 {
    color: whitesmoke;
    margin: 4rem;
    font-size: 4rem;
  }
  a {
    color: blue;
    margin: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-top: 2rem;
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
  }
}
