.main-container {
  display: flex;
  align-items: center;

  .left-container {
    width: 50%;
    text-align: center;
    img {
      box-shadow: grey 5px 5px 5px;
      width: 30rem;
      height: 30rem;
      margin: 2rem;
    }
  }
  .right-container {
    display: flex;
    width: 50%;
    background-color: whitesmoke;
    .text {
      padding: 1rem;
    }

    img {
      box-shadow: grey 5px 5px 5px;
      display: block;
      margin: 2rem;
      width: 15rem;
    }
    .maman {
      text-align: right;
      font-family: "Parisienne", cursive;
      font-size: 4rem;
    }
  }
}
