<section class="about">
  <h1 class="about-title">Notre restaurant</h1>
  <div class="main-container">
    <div class="left-container">
      <img
        class="left-container-img"
        src="assets/ourRestaurant.jfif"
        alt="ourRestaurant"
      />
    </div>

    <div class="right-container">
      <div class="right-container-text">
        <h2>Lorem</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque a
          magni incidunt reiciendis minima error, quasi dolorum? Saepe ab nobis
          iste, dolorum debitis illo quas nesciunt accusantium. Culpa, beatae
          tenetur.
        </p>

        <h2>Lorem</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque a
          magni incidunt reiciendis minima error, quasi dolorum? Saepe ab nobis
          iste, dolorum debitis illo quas nesciunt accusantium. Culpa, beatae
          tenetur.
        </p>
        <p class="maman">Maman</p>
      </div>
      <img src="assets/maman.jfif" alt="ourMum" />
    </div>
  </div>
</section>
