.about {
  &-title {
    font-size: 3rem;
  }
  .main-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    @media screen and(max-width:600px) {
      flex-direction: column;
    }
    .left-container {
      text-align: center;
      width: 45vw;
      height: 70vh;
      @media screen and(max-width:600px) {
        width: 100vw;
        margin: 1rem auto;
      }
      &-img {
        box-shadow: grey 5px 5px 5px;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
    .right-container {
      display: flex;
      width: 45vw;
      height: 70vh;
      background-color: whitesmoke;
      @media screen and(max-width:600px) {
        width: 100vw;
        margin: 0;
        flex-direction: column;
      }
      &-text {
        padding: 0.5rem;
      }

      img {
        box-shadow: grey 5px 5px 5px;
        display: block;
        margin: 2rem;
        width: 15rem;
        @media screen and(max-width:600px) {
          display: none;
        }
      }
      .maman {
        text-align: right;
        font-family: "Parisienne", cursive;
        font-size: 4rem;
      }
    }
  }
}
